
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("DefaultHead")

<body class="slideshow-zoom-background">

	<div id="preloader" class="preloader">
		<div class="loader-status">
			<div class="spinner"></div>
		</div>
	</div>

	<div class="site-container">

		<div id="top"></div>

		<a href="#" class="mobile-logo mobile-logo-light bg-dark">
			<span>Muhsin Yiğit</span>
		</a>

		<button type="button" id="navigation-toggle" class="nav-toggle nav-toggle-light bg-dark">
			<span></span>
		</button>

		@await Component.InvokeAsync("DefaultHeader")
		

		<div class="header-overlay">
			<div class="overlay-inner bg-dark opacity-80"></div>
		</div>

		<button type="button" id="backtotop" class="btn btn-primary btn-icon">
			<span class="btn-icon-inner fas fa-angle-up"></span>
		</button>

		<div class="page-wrapper">
			@await Component.InvokeAsync("DefaultFeature")

			<div class="page-content">

				@await Component.InvokeAsync("DefaultAbout")

				@await Component.InvokeAsync("DefaultSkill")

				@await Component.InvokeAsync("DefaultExperience")

				@await Component.InvokeAsync("DefaultServices")

				@await Component.InvokeAsync("DefaultPortfolio")

				@await Component.InvokeAsync("DefaultTestimonial")
			
				@await Component.InvokeAsync("DefaultContact")

				@await Component.InvokeAsync("DefaultFooter")

			</div>
		</div>
	</div>
	@await Component.InvokeAsync("DefaultScript")
</body>
</html>